
.horarios{
    display:flex;
    padding: 10px 0px;
}

.hora{
    padding: 5px 9px; 
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.hora:hover{
    background-color: rgb(165, 199, 115);
    transition: all .4s ease-in-out;
}

.fecha-actual{
    font-size: 1.2rem;
    
}

.contenedor-fecha-actual{
    display: flex;
    gap: 5px;
    align-items: center;
}

.btn.dia{
    border: 1px solid rgb(148, 148, 148);

}

/*-----------seccion de home----------*/
.container_card{
    display: flex;
    justify-content: space-around;
}

.contenedor_imagen{
    height: 200px;
    overflow: hidden;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .4s ease-in-out;

}

.card{
    transition: all .4s ease-in-out;
}